In [2]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import pprint
from scipy.stats import linregress

In [4]:
happy_years_csv = "Output/multiple_year_data.csv"

In [5]:
happy_years_df = pd.read_csv(happy_years_csv)
happy_years_df

,Country,2022 Rank,2022 Happiness Score,2021 Rank,2021 Happiness Score,2020 Rank,2020 Happiness Score,2019 Rank,2019 Happiness Score,2018 Rank,2018 Happiness Score,2017 Rank,2017 Happiness Score,2016 Rank,2016 Happiness Score,2015 Rank,2015 Happiness Score
0,Finland,1,7.82,1,7.84,1,7.81,1,7.77,1,7.63,5,7.47,5,7.41,6,7.41
1,Denmark,2,7.64,2,7.62,2,7.65,2,7.60,3,7.56,2,7.52,1,7.53,3,7.53
2,Iceland,3,7.56,4,7.55,4,7.50,4,7.49,4,7.50,3,7.50,3,7.50,2,7.56
3,Switzerland,4,7.51,3,7.57,3,7.56,6,7.48,5,7.49,4,7.49,2,7.51,1,7.59
4,Netherlands,5,7.42,5,7.46,6,7.45,5,7.49,6,7.44,6,7.38,7,7.34,7,7.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Tanzania,139,3.70,142,3.62,148,3.48,153,3.23,153,3.30,153,3.35,149,3.67,146,3.78
113,Sierra Leone,140,3.57,138,3.85,139,3.93,129,4.37,113,4.57,106,4.71,111,4.64,123,4.51
114,Zimbabwe,144,3.00,148,3.14,151,3.30,146,3.66,144,3.69,138,3.88,131,4.19,115,4.61
115,Lebanon,145,2.96,123,4.58,111,4.77,91,5.20,80,5.36,88,5.22,93,5.13,103,4.84
116,Afghanistan,146,2.40,149,2.52,153,2.57,154,3.20,145,3.63,141,3.79,154,3.36,153,3.58

In [10]:
# Did covid impact happiness?
avg_happy_2015 = happy_years_df['2015 Happiness Score'].mean()
avg_happy_2016 = happy_years_df['2016 Happiness Score'].mean()
avg_happy_2017 = happy_years_df['2017 Happiness Score'].mean()
avg_happy_2018 = happy_years_df['2018 Happiness Score'].mean()
avg_happy_2019 = happy_years_df['2019 Happiness Score'].mean()
avg_happy_2020 = happy_years_df['2020 Happiness Score'].mean()
avg_happy_2021 = happy_years_df['2021 Happiness Score'].mean()
avg_happy_2022 = happy_years_df['2022 Happiness Score'].mean()

In [ ]:
# Top 5 countries trend of happiness over time
happy_years_df_limited = happy_years_df.head()
happy_years_df_limited

In [ ]:
# Input for users to input countries to compare 
# Print a line plot for the desired countries